<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <!-- META -->
        <title>DuuniHaKuRi | Duunia Kaikille</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../../css/kickstart.css" th:href="@{/css/kickstart.css}" media="all"/>
        <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" media="all"/>

        <!-- Javascript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="../../js/kickstart.js" th:src="@{/js/kickstart.js}"></script>
    </head>
    <body>
        <div id="container" class="grid">
            <header>
                <div class="col_6 column">
                    <h1>
                        <a href="#" th:href="@{/}">
                            <strong>Duuni</strong>HaKuRi</a>
                    </h1>
                </div>
                <div class="col_6 column right">
                    <form id="add_job" sec:authorize="hasAuthority('EMPLOYER')">
                        <button class="large blue">
                            <a href="#" th:href ="@{/jobs/addjob}" id="addjob_button">Lisää Duuni</a>
                        </button>
                    </form>
                </div>
            </header>

            <div class="col_12 column">
                <!-- Menu palkki -->
                <ul class="menu">
                    <li class="current">
                        <a href="#" th:href="@{/}">
                            Koti</a>
                    </li>
                    <li sec:authorize='isAnonymous()'>
                        <a href="#" th:href="@{/jobs}">Tsekkaa Duunit</a>
                    </li>
                    <li sec:authorize='isAuthenticated()'>
                        <a href="#" th:href="@{/employer}">Omat Sivut</a>
                    </li>
                    <li class="right" sec:authorize='isAnonymous()'>
                        <a href="#" th:href="@{/register}">
                            Rekisteröidy</a>
                    </li>
                    <li class="right" sec:authorize='isAnonymous()'>
                        <a href="#" th:href="@{/login}">
                            Loggaa Sisään</a>
                    </li>
                    <li class="right" sec:authorize='isAuthenticated()'>
                        <form th:action="@{/logout}" method="post">
                            <button type='submit' name='logout' value='Logout'>
                                Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div id="search_area" class="col_12 column" sec:authorize='isAnonymous()'>
                <form class="horizontal" method="post" action="#">
                    <input id="keywords" type="text" placeholder="Mitä duunia haetaan?"/>
                    <select id="area_select">
                        <option th:each="area : ${areas}" 
                                th:value="${area.name}" 
                                th:text="${area.name}">
                            Mistä päin?
                        </option>
                    </select>
                    <select id="category_select">
                        <option th:each="cat : ${categories}" 
                                th:value="${cat.name}" 
                                th:text="${cat.name}">
                            Mitä?
                        </option>
                    </select>
                    <button class="large blue" type="submit">Hae</button>
                </form>
            </div>

            <div class="col_12 column">
                <h4>Tervetuloa <span th:text="${session.employer.companyName}">j</span></h4>
                <h6 th:if="${message}" th:text="${message}">viesti</h6>
                <form id="update_form_employer" method="post" th:action="@{/employer/update}">
                    <fieldset>
                        <legend>Muuta tietojasi</legend>
                        <p>
                            <label for="company">Yrityksen nimi</label>
                            <input id="company" name="companyName" type="text" th:value="${session.employer.companyName}"/>
                        </p>
                        <p>
                            <label for="email_company">Sähköposti</label>
                            <input id="email_company" name="email" type="email" th:value="${session.employer.email}"/>
                        </p>
                        <p>
                            <label for="username_company">Käyttäjätunnus</label>
                            <input id="username_company" name="username" type="text" th:value="${session.employer.username}"/>
                        </p>
                        <p>
                            <label for="password_company">Salasana</label>
                            <input id="password_company" name="password" type="password" th:value="${session.employer.password}"/>
                        </p>
                        <p>
                            <label for="company_description">Yritys esittely</label>
                            <textarea id="company_description" name="companyDescription" rows="8" cols="40" th:text="${session.employer.companyDescription}"></textarea>
                        </p>
                        <p>
                            <input type="submit" value="update" class="large blue"></input>
                        </p>
                    </fieldset>
                </form>
                <form th:action="@{/employer/delete}" method="post">
                    <p class="right">
                        Tästä voit poistaa kaikki tietosi
                        <input type="submit" name="delete" value="Poista" class="large red"></input>
                    </p>
                </form>
            </div>
            <div class="col_12 column">
                <h5>Lisäämäni duunit</h5>
                <ul id="listings" th:each="job : ${employerJobs}">
                    <li>
                        <div class="type" th:switch="${job.type.name}">
                            <span th:case=" 'Täys päivä' " style="background-color: #4c9ef1" th:text="${job.type.name}">
                                TäysPäivä</span>
                            <span th:case=" 'Osa-aika' " style="background-color: #81b800" th:text="${job.type.name}">
                                TäysPäivä</span>
                            <span th:case="*" style="background-color: #f4a209" th:text="${job.type.name}">
                                TäysPäivä</span>
                        </div>
                        <div class="description">
                            <h5 th:text="${job.jobName}">Graafinen suunnittelija</h5><h6 th:text="${job.area.name}"></h6>
                            <h6 th:text="${job.category.name}"></h6>
                            <p th:text="${job.description}"></p><a href="#" th:href="@{/jobs/{id}(id=${job.id})}">
                                Lisää...</a>
                            <p>
                            <form th:action="@{/jobs/{id}/delete(id=${job.id})}" method="post">
                                <input type="submit" name="delete" value="Poista" class="orange"></input>
                            </form>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <footer>
                <p>Copyright 2016, DuuniHakuri... eiku ei mitään copuraitteja :-D</p>
            </footer>
        </div>
        <!-- End Grid -->
    </body>
</html>

